*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
 --tex-color       :#fff;
 --text-color-alt  :#a1a1a6;
 --accent-color    : #0071e3;
 --accent-color-alt: #2997ff;
 --body-bg         :#000;
}

body {
    colo:
}