@font-face {
    font-family   : 'SF Pro Text';
    font-style    : normal;
    font-weight   : 400;
    font-display  : auto;
    src           : local('SF Pro Text'), url('/fonts/SFProText-Regular.woff2');
}

@font-face {
    font-family   : 'SF Pro Display';
    font-style    : normal;
    font-weight   : 400;
    font-display  : auto;
    src           : local('SF Pro Display'), url('/fonts/SFProDisplay-Regular.woff2') format('woff2');
}
@font-face {
    font-family   : 'SF Pro Display';
    font-style    : normal;
    font-weight   : 500;
    font-display  : auto;
    src           : local('SF Pro Display'), url('/fonts/SFProDisplay-Medium.woff2') format('woff2');
}
@font-face {
    font-family   : 'SF Pro Display';
    font-style    : normal;
    font-weight   : 600;
    font-display  : auto;
    src           : local('SF Pro Display'), url('/fonts/SFProDisplay-Semibold.woff2') format('woff2');
}

@font-face {
    font-family   : 'SF Pro Display';
    font-style    : normal;
    font-weight   : 700;
    font-display  : auto;
    src           : local('SF Pro Display'), url('/fonts/SFProDisplay-Bold.woff2') format('woff2');
}


:root {
    /* Family */
    --body-font:'SF Pro Text', sans-serif;
    --body-font:'SF Pro Display', sans-serif;

    /* Body size */
    --smaller-body-size  : 0.75rem; /* 12px */
    --big-body-size      : 1.25rem; /* 20px */ 
    --bigger-body-size   : 1.5rem;  /* 24px */
    /* Title font size */
    --smaller-title-size : 2rem; /* 32px */
    --normal-title-size  : 2.5rem; /* 40px */ 
    --big-title-size     : 2.5rem;  /* 40px */
    --big-title-size     : 2.5rem;  /* 40px */

    /* Weight */
    --normal-font    : 400;
    --medium-font    : 500;
    --semi-bold-font : 600;
    --bold-font      : 700;

    /* Line height */
    --title-line-height:1.15;
}

@media screen and (min-width:734px){
 :root{
 /* Body font size */
 --big-body-size        : 1.5rem; /* 24px */
 --bigger-body-size     : 1.75rem; /* 28px */

 /* Title font size */
 --smaller-title-size   : 2.5rem;/* 48px */
 --bigger-title-size    : 4rem; /* 64px */
  }
 }

